<footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">durango.gob.mx</h5>
  
          <p>
            Gobierno
          </p>
          <p>
            Tramites
          </p>
          <p>
            Boletínes y Actividades
          </p>
          <p>
            Turismo

          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Vehiculos</h5>
  
          <p>
            Refrendo Anual
        
          </p>
          <p>
            Licencia de Conducir

          </p>
          <p>
            Placas Nuevas

          </p>
          <p>
            Cambio de Propietario

          </p>
          <p>
            Presupuesto Vehícular

          </p>
          <p>            Refrendo Carga
        </p>

        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      <a class="text-body" href="https://www.durango.gob.mx">Gobierno del Estado de Durango 2022-2028
    </a>
    </div>
    <!-- Copyright -->
  </footer>